* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: Gilroy;
}

.main {
    height: 100%;
    width: 100%;
    /* background-color: #92fdff; */
    position: relative;
    padding-top: 0.1px;
}

.nav {
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h3{
    display: none;
}
.nav h1 {
    height: 100%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monument;
    letter-spacing: -1px;
    font-size: 45px;
    position: relative;
}

.nav h1::after{
    content:"©️";
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 8%;
    right: 17%;
} 

.nav h1::before{
    content:"model management";
    font-family: gilroy;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1px;
    position: absolute;
    top: 65%;
    right: 18%;
} 

.nav h2 {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 20px;
    font-weight: 600;
}

.nav h2:nth-last-child(1) {
    width: 10%;
}

.nav h2:nth-last-child(2) {
    width: 30%;
}

.center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw;
}

.content {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    position: relative;
}

.content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;

}

.over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5vw;
    /* background-color: red; */
}

.over1 h1 {
    font-family: Monument;
    font-size: 2.5vw;
}

.over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    /* background-color: blue; */
    border: 1px solid #fff;
    /* border-bottom: 2px solid #fff; */
}

.over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}

.over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

.over2 img {
    height: 3vw;
}

.scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    /* display: flex; */
}

.container {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    animation-name: anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.scroll img {
    height: 80%;
    border-radius: 50%;
    width: 15%;
    object-position: top;
    object-fit: cover;
    /* display: none; */
    padding: 1vw;
    margin: 0.8vw;
}

@keyframes anim{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.alphabet{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    margin-right: 2vw;

}

.alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    /* background-color: yellow; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid #00000000;
    cursor: pointer;
    transition: all ease 0.2s;

}

.alphabet h6:hover{
    border: 1px solid #000;
}

.page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    
}

.page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1541216970279-affbfdd55aa8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1vZGVsJTIwcG9ydHJhaXRzfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: center;
}

.heading{
    margin-left: 5%;
    font-family: monument;
    font-weight: 100;
    margin-top: -1%;
    font-weight: lighter;
}
.page2-part2{
    height: 100%;
    width: 45%;
    
}

.page2-part2 img {
    height: 70%;
    width: 80%;
       
}

.text {
    height: 30%;
    width: 80%;
    margin-top: 2vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between; /* Spread out h2 and p to occupy available space */
    align-items: flex-start; /* Align items at the top */
    gap: 20px; /* Control space between h2 and p */
}

.text h2 {
    width: 40%; /* Control the width of the h2 */
    margin-right: 20px; /* Space between h2 and p */
}

.text p {
    width: 42%; /* Control the width of the p */
}

.page3{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
}

.page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;

}

.elem{
    height: 15vh;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 15%;
    opacity: 0;
    transition: all ease 0.8s;
    
}

.elem .elem-part2{
    width: 45%;
}

.elem-part2 h1{
    font-size: 3vw;
    font-weight: 500;
}

.elem-part2 h5{
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
}

.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}

.elem:hover img {
    opacity: 1;
    left: 30%;
}

.marque{
    /* height: 15vh; */
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    
}

.marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    /* background-color: blue; */
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.footer{
    width: 100%;
    height: 100%;
}


@media (max-width:600px) {

    body{
        overflow-x: hidden;
    }

    .nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;
        
    }

    .nav h3{
        display: block;
    }
    
    .nav h1 {
        
        width: 40%;
        justify-content: flex-start;
        font-size: 24px;
        
    }
    
    .nav h1::after{
        
        display: none;
    } 
    
    .nav h1::before{
        
        display: none;
    } 
    
    .nav h2 {
        
        display: none;
    }
    
     
    .center {
        height: 40%;
        width: 100%;
        position: relative;
        padding: 5vw;
    }
    
    .content {
        height: 100%;
        width: 100%;
        background-color: lightblue;
        position: relative;
    }
    
    .content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .overlay {
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 3vw;
        color: #fff;
    
    }
    
    .over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5vw;
        /* background-color: red; */
    }
    
    .over1 h1 {
        font-family: Monument;
        font-size: 5.5vw;
        font-weight: 100;
    }
    
    .over1 h2 {
        font-size: 2vw;
        padding: 3vw 3.2vw;
        border-radius: 50%;
        /* background-color: blue; */
        border: 1px solid #fff;
        /* border-bottom: 2px solid #fff; */
    }
    
    .over2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1vw 0;
    }
    
    .over2 h4 {
        font-size: 3vw;
        font-weight: 500;
    }
    
    .over2 img {
        height: 5vw;
    }
    

    .scroll {
        height: 20vh;
        width: 100%;
        /* background-color: red; */
        white-space: nowrap;
        overflow-x:hidden;
        overflow-y: hidden;
        /* display: flex; */
    }
    
    .container {
        height: 100%;
        width: fit-content;
        display: inline-block;
        animation-name: anim;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        
    }
    
    .scroll img {
        height: 95%;
        border-radius: 50%;
        width: 15%;
        object-position: 30% 30%;
        object-fit: cover;
        margin: 1vw;
    }
    
    
}




